<div class="importContainer">
    <div class="mat-elevation-z8" style="background-color: white;">
        <div class="boxFile" appDragAndDrop (fileDropped)="onFileDropped($event)">
            <input type="file" id="fileDropRef" (change)="fileBrowseHandler($event.target.files)" />
            <img src="assets/img/upload-file.svg" alt="">
            <h3>Drag and drop file here</h3>
            <h3>or</h3>
            <label for="fileDropRef" class="mat-elevation-z8">Browse for file</label>
        </div>
        <div class="files-list">
            <div class="single-file" *ngFor="let file of files; let i = index">
                <img src="assets/img/file.svg" width="45px" alt="file">
                <div class="info">
                    <h4 class="name">
                        {{ file?.name }}
                    </h4>
                    <p class="size">
                        {{ formatBytes(file?.size) }}
                    </p>
                </div>
                <img src="assets/img/delete-file.svg" class="delete" width="20px" alt="file" (click)="deleteFile(i)">
            </div>
        </div>

        <div>
            <mat-button-toggle-group>
                <mat-button-toggle value="ING">ING Direct</mat-button-toggle>
                <mat-button-toggle value="Boursorama">Boursorama</mat-button-toggle>
                <mat-button-toggle value="CMB">CMB</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div>
            <mat-checkbox class="example-margin" [(ngModel)]="headers">Entête</mat-checkbox>
        </div>
        <div>
            <button mat-raised-button color="primary" (click)="parse()">Importer</button>
        </div>


        <div>
            <mat-list>
                <mat-list-item *ngFor="let tr of transactions">
                    <div fxLayout="row" fxLayoutAlign="center" >
                        <div>
                            {{tr.date}}
                        </div>
                        <div>{{tr.description}}</div>
                        <div><app-category [category]="tr.category" [readOnly]="true"></app-category></div>
                        <div><app-cost [cost]="tr.cost"></app-cost></div>
                        
                    </div>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
    
</div>